<table>
    <thead>
      <tr>
        <th>Nombre de usuario</th>
        <th>Fecha de nacimiento</th>
        <th>Edad</th>
        <th>Dirección</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.name }}</td>
        <td>{{ usuario.fecha_nacimiento }}</td>
        <td>{{ usuario.edad }}</td>
        <td>
            <p>
                {{ usuario?.domicilio?.domicilio }}
                {{ usuario?.domicilio?.numero_exterior }}
                {{ usuario?.domicilio?.colonia }}
                {{ usuario?.domicilio?.cp }}
                {{ usuario?.domicilio?.ciudad }}
            </p>
        </td>
      </tr>
    </tbody>
  </table>